@media (max-width: 1200px) {
      .container h1 {
            font-size: 3em;
      }
}
@media (max-width: 992px) {
      .container h1 {
            font-size: 2.5em;
      }
      .container .row {
            flex-direction: column;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            padding: 5vh 10vw 10vh 10vw;
      }
      .container .row .column {
            width: 100%;
            height: 49.5%;
      }
}
@media (max-width: 768px) {
      .container h1 {
            font-size: 2em;
      }
}
@media (max-width: 576px) {
      .container h1 {
            font-size: 1.9em;
      }
}